body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Jost', sans-serif;
  background: url("/background.png") no-repeat center center;
  background-size: cover;
}

/* Evita que las notificaciones sean muy anchas */
app-notification {
  display: block;
  max-width: 300px;
  width: auto;
}

/* Opcional: Asegura que el navbar no cubra las notificaciones */
app-navbar {
  position: relative;
  z-index: 100;
}

app-notification {
  z-index: 99; /* Un poco menor que el navbar */
}
